<div class="grey h-100">
	<div class="table-responsive">
		<table class="-table">
			<tr>
				<th colspan="3">
					<h5 align="center">Income</h5>
				</th>
				<th colspan="3">
					<h5 align="center">Expenditure</h5>
				</th>
			</tr>
			<tr>
				<th>Source</th>
				<th>Amount (N)</th>
				<th>Check</th>
				<th>Item</th>
				<th>Amount (N)</th>
				<th>Check</th>
			</tr>
			<tr>
				<td>Aquaculture</td>
				<td>50,000</td>
				<td>
					<i class="fa fa-check"></i>
				</td>
				<td>Meeting</td>
				<td>5,000</td>
				<td>
					<i class="fa fa-check"></i>
				</td>
			</tr>
			<tr>
				<td>BrandIn</td>
				<td>10,080</td>
				<td>
					<i class="fa fa-check"></i>
				</td>
				<td>Communication</td>
				<td>20,350</td>
				<td>
					<i class="fa fa-times"></i>
				</td>
			</tr>
		</table>
	</div>
</div>

<style type="text/css">
	.-table {
		border: 1px solid #333 !important;
		border-spacing: 0;
		width: 100%;
		max-width: 100%;
	}
	.-table td, .-table th {
		border: 1px solid #333 !important;
		padding: .5em !important;
		background: #f2f2f2;
	}
	.-table tr {
		border: none !important;
		padding: 0 !important;
	}
</style>