<div class="row p-4">
	<div class="col-12 mb-4">
		<strong style="font-size: large;">YESTERDAY</strong>
		<div class="divider"></div>
	</div>
	<div class="col-6">
		<div onclick="location.href = ('#file-view');" class="card rounded-0 z-depth-3 waves-effect">
			<div class="card-image-top -cimg" style="background-image: url('favicon.jpg');"></div>
			<div class="card-footer">
				<h5 class="text-uppercase -truncate">
					MJM-BUDGET-201908.XLSX
				</h5>
			</div>
		</div>
	</div>
	<div class="col-6">
		<div class="card rounded-0 z-depth-3 waves-effect">
			<div class="card-image-top -cimg" style="background-image: url('favicon.jpg');"></div>
			<div class="card-footer">
				<h5 class="text-uppercase -truncate">
					MJM-BUDGET-201908.XLSX
				</h5>
			</div>
		</div>
	</div>

	<div class="col-12 my-4">
		<strong style="font-size: large;">19-10-2019</strong>
		<div class="divider"></div>
	</div>
	<div class="col-6">
		<div class="card rounded-0 z-depth-3 waves-effect">
			<div class="card-image-top -cimg" style="background-image: url('favicon.jpg');"></div>
			<div class="card-footer">
				<h5 class="text-uppercase -truncate">
					MJM-BUDGET-201908.XLSX
				</h5>
			</div>
		</div>
	</div>
	<div class="col-6">
		<div class="card rounded-0 z-depth-3 waves-effect">
			<div class="card-image-top -cimg" style="background-image: url('favicon.jpg');"></div>
			<div class="card-footer">
				<h5 class="text-uppercase -truncate">
					MJM-BUDGET-201908.XLSX
				</h5>
			</div>
		</div>
	</div>
</div>

<div class="">
	<button onclick="location.href = ('#file-add');" class="z-depth-3 waves-effect red -fab">
		<i class="fa fa-plus"></i>
	</button>
</div>

<script type="text/javascript">
	
</script>

<style type="text/css">
	.-cimg {
		background-image: url('');
		background-position: center;
		background-size: cover;
		height: 10rem; 
	}
	.-truncate {
		max-width: 100%;
		overflow-x: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.-truncate:hover {
		overflow-x: auto;
		text-overflow: unset;
	}
</style>