<script src="includes/minify/jquery.min.js"></script>
<script src="includes/minify/bootstrap.bundle.min.js"></script>
<script src="includes/minify/materialize.js"></script>
<script src="includes/minify/jaxify.js"></script>

<link rel="stylesheet" href="includes/minify/materialize.min.css">
<link rel="stylesheet" href="includes/minify/bootstrap.min.css">
<link rel="stylesheet" href="includes/minify/font-awesome.min.css">

<script>
    defer(function(){
	    GPageLoad( "gists", function(){
	    	GPageData( 'Title', 'Home' );
	    });
	    GPageLoad( "create-gist", function(){
	    	GPageData( 'Title', 'Create Gist' );
	    });
	    GPageLoad( "files", function(){
	    	GPageData( 'Title', 'File Manager' );
	    });
	    GPageLoad( "file-add", function(){
	    	GPageData( 'Title', 'Upload File' );
	    });
	    GPageLoad( "notes", function(){
	    	GPageData( 'Title', 'Notebook' );
	    });
	    GPageLoad( "add-note", function(){
	    	GPageData( 'Title', 'Add Note' );
	    });
	    GPageLoad( "usage", function(){
	    	GPageData( 'Title', 'Usage Log' );
	    });
	    GPageLoad( "profile", function(){
	    	GPageData( 'Title', 'My Profile' );
	    });
	    GPageLoad( "user-profile", function(){
	    	GPageData( 'Title', 'User Profile' );
	    });
	    GPageLoad( "budget", function(){
	    	GPageData( 'Title', 'Budget' );
	    });
    });
</script>