<div class="p-2 red d-flex justify-content-around z-depth-3">
	<button onclick="location.href = ('#files')" class="btn waves-effect rounded-0 z-depth-3" style="background: transparent !important;">
		<i class="fa fa-file-o"></i>
	</button>
	<button onclick="location.href = ('#notes')" class="btn waves-effect rounded-0 z-depth-3" style="background: transparent !important;">
		<i class="fa fa-pencil"></i>
	</button>
	<button onclick="location.href = ('#usage')" class="btn waves-effect rounded-0 z-depth-3" style="background: transparent !important;">
		<i class="fa fa-bar-chart"></i>
	</button>
	<button onclick="location.href = ('#budget')" class="btn waves-effect rounded-0 z-depth-3" style="background: transparent !important;">
		<i class="fa fa-dollar"></i>
	</button>
</div>