<div class="p-4">
	<div class="d-flex align-items-center">
		<h3 style="flex-grow: 1">Gists</h3>
		<button onclick="location.href = ('#create-gist')" class="btn red waves-effect rounded-0 white-text z-depth-3">
			<i class="fa fa-plus"></i>
		</button>
	</div>

	<div class="mt-4 z-depth-2 p-4">
		<p>
			<i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation</i>
		</p>
		<div class="clearfix">
			<strong>20/05/2019 11:13AM</strong>
			<a href="javascript:void(0)" onclick="location.href = ('#user-profile');" class="waves-effect float-right">
				<small>Matnex_Mix</small>
				<img src="favicon.jpg" class="circle" width="30" height="30" />
			</a>
		</div>
	</div>

	<div class="mt-4 z-depth-2 p-4">
		<p>
			<i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation</i>
		</p>
		<div class="clearfix">
			<strong>20/05/2019 11:13AM</strong>
			<a href="javascript:void(0)" onclick="location.href = ('#user-profile');" class="waves-effect float-right">
				<small>Matnex_Mix</small>
				<img src="favicon.jpg" class="circle" width="30" height="30" />
			</a>
		</div>
	</div>

	<div class="mt-4 z-depth-2 p-4">
		<p>
			<i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation</i>
		</p>
		<div class="clearfix">
			<strong>20/05/2019 11:13AM</strong>
			<a href="javascript:void(0)" onclick="location.href = ('#user-profile');" class="waves-effect float-right">
				<small>Matnex_Mix</small>
				<img src="favicon.jpg" class="circle" width="30" height="30" />
			</a>
		</div>
	</div>
</div>