<div class="">
	<div class="p-3 waves-effect w-100 border-bottom -border-left-3">
		<h4 class="font-weight-light truncate">
			My first note
		</h4>
		<b>
			Uncategorized
		</b> &nbsp;&nbsp;09/07/2018
	</div>
	<div class="p-3 waves-effect w-100 border-bottom -border-left-3" style="border-color: yellow">
		<h4 class="font-weight-light truncate">
			sencondical first note
		</h4>
		<b>
			Idea
		</b> &nbsp;&nbsp;09/07/2018
	</div>
	<div class="p-3 waves-effect w-100 border-bottom -border-left-3" style="border-color: green">
		<h4 class="font-weight-light truncate">
			ikanda morquell is a good documentation to start with
		</h4>
		<b>
			Uncategorized
		</b> &nbsp;&nbsp;09/07/2018
	</div>
	<div class="p-3 waves-effect w-100 border-bottom -border-left-3" style="border-color: blue">
		<h4 class="font-weight-light truncate">
			sencondical first note
		</h4>
		<b>
			Idea
		</b> &nbsp;&nbsp;09/07/2018
	</div>
</div>

<div class="">
	<button onclick="location.href = ('#add-note');" class="z-depth-3 waves-effect red -fab">
		<i class="fa fa-plus"></i>
	</button>
</div>

<style type="text/css">
	.-border-left-3 {
		border-left: 4px solid orange;
	}
	.-fab {
		display: inline-block;
		border: none;
		width: 4rem;
		height: 4rem;
		font-size: x-large;
		border-radius: 50%;
		color: white !important;
		position: fixed;
		bottom: 6rem;
		left: 50%; margin-left: -2rem;
	}
</style>